amqp
asgiref
backports.entry-points-selectable
billiard
calendar-base
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
Deprecated
distlib
Django
django-bower
django-cacheops
django-debug-toolbar
django-email-users
django-filter
django-model-utils
django-notifications-hq
django-scheduler
djangorestframework
djongo
dnspython
environ
filelock
firebase
funcy
google-calendar-interface
icalendar
idna
jsonfield
kombu
lazy-object-proxy
mongoengine
mysqlclient
packaging
Pillow
pipenv
pipfile
platformdirs
prompt-toolkit
pymongo
pyparsing
python-da4.7teutil
pytz
redis
requests
reverse
shell
six
sqlparse
swapper
toml
tomli
urllib3
vine
virtualenv
virtualenv-clone
virtualenvwrapper-win
wcwidth
wrapt
